<%= form_for(@admin_neighbour) do |f| %>
  <% if @admin_neighbour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_neighbour.errors.count, "error") %> prohibited this admin_neighbour from being saved:</h2>

      <ul>
      <% @admin_neighbour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :neihgbour_id %><br>
    <%= f.number_field :neihgbour_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
