<p id="notice"><%= notice %></p>

<h1>Listing Admin Neighbours</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Neihgbour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_neighbours.each do |admin_neighbour| %>
      <tr>
        <td><%= admin_neighbour.user_id %></td>
        <td><%= admin_neighbour.neihgbour_id %></td>
        <td><%= link_to 'Show', admin_neighbour %></td>
        <td><%= link_to 'Edit', edit_admin_neighbour_path(admin_neighbour) %></td>
        <td><%= link_to 'Destroy', admin_neighbour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Neighbour', new_admin_neighbour_path %>
