<p id="notice"><%= notice %></p>

<h1>Listing Admin Profiles</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Profile desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_profiles.each do |admin_profile| %>
      <tr>
        <td><%= admin_profile.user_id %></td>
        <td><%= admin_profile.profile_desc %></td>
        <td><%= link_to 'Show', admin_profile %></td>
        <td><%= link_to 'Edit', edit_admin_profile_path(admin_profile) %></td>
        <td><%= link_to 'Destroy', admin_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_admin_profile_path %>
