<%= form_for(@admin_friend) do |f| %>
  <% if @admin_friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_friend.errors.count, "error") %> prohibited this admin_friend from being saved:</h2>

      <ul>
      <% @admin_friend.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sender_id %><br>
    <%= f.number_field :sender_id %>
  </div>
  <div class="field">
    <%= f.label :receiver_id %><br>
    <%= f.number_field :receiver_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
